*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
