<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="card">
        <div class="image image-15"></div>
        <a href="">Incidid Tongue Bar</a>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p><span class="price-old">Rs. 725</span><span class="money"> Rs. 479</span></p>
    </div>
    <div class="card">
        <div class="image image-16"></div>
        <a href="">Incidid Tongue Bar</a>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p><span class="price-old">Rs. 725</span><span class="money"> Rs. 479</span></p>
    </div>
    <div class="card">
        <div class="image image-17"></div>
        <a href="">Incidid Tongue Bar</a>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p><span class="price-old">Rs. 725</span><span class="money"> Rs. 479</span></p>
    </div>
    <div class="card">
        <div class="image image-19"></div>
        <a href="">Incidid Tongue Bar</a>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p><span class="price-old">Rs. 725</span><span class="money"> Rs. 479</span></p>
    </div>
</div>