<div class="container">
    <div class="card">
        <div class="image">
            <img src="image-16.png" alt="Product">
        </div>
        <div class="discount">-6%</div>
        <div class="label label-green">Pre-order</div>
    </div>
    <div class="card">
        <div class="image">
            <img src="image-16.png" alt="Product">
        </div>
        <div class="discount">-6%</div>
        <div class="label label-green">Pre-order</div>
    </div>
    <div class="card">
        <div class="image">
            <img src="image-16.png" alt="Product">
        </div>
        <div class="discount">-6%</div>
        <div class="label label-green">Pre-order</div>
    </div>
    <div class="card">
        <div class="image">
            <img src="image-16.png" alt="Product">
        </div>
        <div class="discount">-6%</div>
        <div class="label label-green">Pre-order</div>
    </div>
</div>