<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a routerLink="home">Say<span>yad.</span></a></div>

        <ul class="menu">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="featured">Featured</a></li>
            <li><a routerLink="store">Store</a></li>
            <li><a href="">About Us</a></li>
        </ul>
        <!-- <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div> -->
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->