<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <!-- <img src="../assets/image-12.jpg" alt=""> -->
            <h4>Watches</h4>
            <p>25% Discount</p>
            <a href="">Shop Now</a>
        </div>
        <div class="col-5">
            <!-- <img src="../assets/image-12.jpg" alt=""> -->
            <h4>Watches</h4>
            <p>For Men & Women</p>
            <a href="">Shop Now</a>
        </div>
    </div>
</div>

<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller Of Hitheme</p>
            <h2><span>Best</span> Seller</h2>
        </div>
        <div class="row">
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                          <img src="../assets/img5.jpg" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                            <img src="../assets/img2.jpg" alt="Product">
                        </div>
  
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                            <img src="../assets/img3.jpg" alt="Product">
                        </div>
                        
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                            <img src="../assets/img4.jpg" alt="Product">
                        </div>
                        
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
        
    </div>
  </section>
  
<section class="bg-color">
    <div class="containers">
        <div class="row">
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                          <img src="../assets/image-15.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p><span class="price-old">Rs. 619</span><span class="money"> Rs. 455</span></p>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                            <img src="../assets/image-16.png" alt="Product">
                        </div>
  
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price-old">Rs. 579</span><span class="money"> Rs. 379</span></p>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                            <img src="../assets/image-17.png" alt="Product">
                        </div>
                        
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price-old">Rs. 659</span><span class="money"> Rs. 449</span></p>
                    </div>
                </div>
            
            
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                            <img src="../assets/image-19.png" alt="Product">
                        </div>
                        
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price-old">Rs. 725</span><span class="money"> Rs. 479</span></p>
                    </div>
                </div>
            
        </div>
    </div>
  </section>
  