
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller Of Hitheme</p>
            <h2><span>Best</span> Seller</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
  
                        <!-- <div class="product-container">
                          <div class="p"><img src="../assets/img1.jpg" alt="product-container"></div>
                          <div class="p"><img src="../assets/img2.jpg" alt="product-container"></div>
                          <div class="p"><img src="../assets/img3.jpg" alt=""></div>
                        </div> -->
                        <div class="image">
                          <img src="../assets/img5.jpg" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <!-- <div class="product-container">
                            <div class="p"><img src="../assets/img1.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/img2.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/img3.jpg" alt="Product"></div>
                        </div> -->
                        <div class="image">
                            <img src="../assets/img2.jpg" alt="Product">
                        </div>
  
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <!-- <div class="product-container">
                            <div class="p"><img src="../assets/img1.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/img2.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/img3.jpg" alt="Product"></div>
                        </div> -->
                        <div class="image">
                            <img src="../assets/img3.jpg" alt="Product">
                        </div>
                        
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <!-- <div class="product-container">
                            <div class="p"><img src="../assets/img1.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/img2.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/img3.jpg" alt="Product"></div>
                        </div> -->
                        <div class="image">
                            <img src="../assets/img4.jpg" alt="Product">
                        </div>
                        
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  