<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Style is always yours</div>
            <div class="text-2">Good design's<br> always in season</div>
            <a href="">Shop Now</a>
        </div>
    </div>
</section>
<app-products></app-products>
<section class="bg-color">
    <div class="containers">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="image">
                          <img src="../assets/image-15.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>