*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home{
    display: flex;
    background-image: url(src/assets/image-44.jpg);
    min-height: 500px;
    background-size: cover;
}